@model IEnumerable<Buoi17_EFCore_DbFirst.ViewModels.KetQuaTimKiemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách</h1>
<div>Trang @ViewBag.TrangHienTai/@ViewBag.TongSoTrang</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
    @for (int p = 0; p < ViewBag.TongSoTrang; p++)
    {
        var pactive = p + 1 == (int)ViewBag.TrangHienTai ? "active" : "";
        var mylink = $"/Demo?p={p+1}&sortBy={ViewBag.SortBy}&ascSort={ViewBag.AscSort}";
        <li class="page-item @pactive"><a class="page-links" href="@mylink">@(p+1)</a></li>
    }    
    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>
            </tr>
        }
    </tbody>
</table>
